$bp-mobile: 360px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-wide: 2560px;
:root {
	--color-primary-dark: #121417;
	--color-secondary-dark: rgba(18, 20, 23, 0.5);
	--color-secondary-darker: #cbcbcb;
	--color-primary-light: #f7f7fb;
	--color-secondary-light: #f0f0f0;
	--color-light: #fff;
	--color-accent: #3470ff;
	--color-accent-dark: #0b44cd;
}

$color-primary-dark: var(--color-primary-dark);
$color-secondary-dark: var(--color-secondary-dark);
$color-secondary-darker: var(--color-secondary-darker);
$color-primary-light: var(--color-primary-light);
$color-secondary-light: var(--color-secondary-light);
$color-light: var(--color-light);
$color-accent: var(--color-accent);
$color-accent-dark: var(--color-accent-dark);


